{% extends 'base.html.twig' %}
{% block title %}Factuur index{% endblock %}

{% block stylesheets %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}

    {% for factuur in factuurs %}
        <div class="d-inline-flex flex-wrap justify-content-center">
            <div class="card" style="width: 18rem;">
                {#            <img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ factuur.name }}</h5>
                    <p class="card-text">{{ factuur.description }}</p>

                    <a href="{{ path('factuur_show', {'id': factuur.id}) }}" class="btn btn-primary">Read me</a>
                </div>
            </div>
        </div>





    {% endfor %}
{% endblock %}
