{% extends 'base.html.twig' %}
{% block title %}Rapport{% endblock %}
{% block body %}


    {% for rapport in rapports %}
        <div class="d-inline-flex flex-wrap justify-content-center">
            <div class="d-flex justify-content-around container mt-5 ">
                <div class="card p-2 bg-white "><i class="fa fa-apple"></i>
                    <div class="about-product text-center mt-2"><img src={{ rapport.img }} width="250">
                        <div>
                            <h4>{{ rapport.naam }}</h4>
                            <br>
                            <h6 class="mt-0 text-black-50">{{ rapport.tekst }}</h6>
                            <br>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-center p-price">
                            <button class="btn btn-danger">Read me</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

